// stylelint-disable-next-line selector-type-no-unknown
checkbox {
  // 未选中的 背景样式
  .wx-checkbox-input {
    border-radius: 50%;
    // 和字体大小一样
    width: var(--mx-fontSizes-lg);
    height: var(--mx-fontSizes-lg);
    // 去掉默认的右边空白
    margin-right: 0;

    // 选中后的 背景样式
    &.wx-checkbox-input-checked {
      border-color: var(--mx-colors-primary-500);
      background: var(--mx-colors-primary-500);

      // 选中后的 对勾样式
      &::before {
        font-size: var(--mx-fontSizes-lg);
        color: #fff;
      }
    }
  }
}
